<h1><b>DISCLAIMER PAGE</b></h1>
<p>Last updated: April 16, 2016</p>
<p>Please read this End-User License Agreement ("Agreement") carefully before clicking the "I Agree" button, downloading or using Best Bags Buy ("Application").</p>
<p>By clicking the "I Agree" button, downloading or using the Application, you are agreeing to be bound by the terms and conditions of this Agreement.</p>
<p>This Agreement is a legal agreement between you (either an individual or a single entity) and Best Bags Buy and it governs your use of the Application made available to you by Best Bags Buy.</p>
<p>If you do not agree to the terms of this Agreement, do not click on the "I Agree" button and do not download or use the Application.</p>
<p>The Application is licensed, not sold, to you by Best Bags Buy for use strictly in accordance with the terms of this Agreement.</p>
<p><strong>License</strong></p>
<p>Best Bags Buy grants you a revocable, non-exclusive, non-transferable, limited license to download, install and use the Application solely for your personal, non-commercial purposes strictly in accordance with the terms of this Agreement.</p>
<p><strong>Third-Party Services</strong></p>
<p>The Application may display, include or make available third-party content (including data, information, applications and other products services) or provide links to third-party websites or services ("Third-Party Services").</p>
<p>You acknowledge and agree that Best Bags Buy shall not be responsible for any Third-Party Services, including their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or any other aspect thereof. Best Bags Buy does not assume and shall not have any liability or responsibility to you or any other person or entity for any Third-Party Services.</p>
<p>Third-Party Services and links thereto are provided solely as a convenience to you and you access and use them entirely at your own risk and subject to such third parties' terms and conditions.</p>
<p><strong>Term and Termination</strong></p>
<p>This Agreement shall remain in effect until terminated by you or Best Bags Buy.</p>
<p>Best Bags Buy may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.</p>
<p>This Agreement will terminate immediately, without prior notice from Best Bags Buy, in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting the Application and all copies thereof from your mobile device or from your computer.</p>
<p>Upon termination of this Agreement, you shall cease all use of the Application and delete all copies of the Application from your mobile device or from your computer.</p>
<p>Termination of this Agreement will not limit any of Best Bags Buy's rights or remedies at law or in equity in case of breach by you (during the term of this Agreement) of any of your obligations under the present Agreement.</p>
<p><strong>Amendments to this Agreement</strong></p>
<p>Best Bags Buy reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
<p>By continuing to access or use our Application after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Application.</p>
<p><strong>Governing Law</strong></p>
<p>The laws of Ghana, excluding its conflicts of law rules, shall govern this Agreement and your use of the Application. Your use of the Application may also be subject to other local, state, national, or international laws.</p>
<p><strong>Contact Information</strong></p>
<p>If you have any questions about this Agreement, please contact us.</p>
<p><strong>Entire Agreement</strong></p>
<p>The Agreement constitutes the entire agreement between you and Best Bags Buy regarding your use of the Application and supersedes all prior and contemporaneous written or oral agreements between you and Best Bags Buy.</p>
<p>You may be subject to additional terms and conditions that apply when you use or purchase other Best Bags Buy's services, which Best Bags Buy will provide to you at the time of such use or purchase.</p>
