<!--
{% extends "index.html" %}
{% block errorhere %}

<center>
<h3>{{success_message}}</h3>
</center></br>
<center>
<h1>{{pagecontent}}</h1><br/>
</center></br>
<center>
<h2>{{pagecontent1}}</h2>
</center>
{%endblock%}