<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | Best Bags Buy</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-left">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.php">HOME</a></li>
								<li class="dropdown"><a href="#">ADMIN<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="http://localhost/ecomfinal/admin/bagLogins.php">Login As Admin</a></li>
                                    </ul>
                                </li> 
								<li><a href="checkout.php">CHECKOUT</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
{% block BODY %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
				
			</div>
	
		
			<div >
    <table border = '10' class="responsive-table bordered centered highlight centered">
        <thead>
		<tr> <th data-field="year"> ITEMS IN MY CART </th></tr>
            <tr>
                <th data-field="bag_id"> BAG NAME </th>
                <th data-field="bag_name"> COST </th></br>
                <th data-field="bag_cat"> QUANTITY </th>
              
            </tr>
        </thead>
		{% set totalcost = 0 %}
		{% for item in cart %}
		{% set totalcost = totalcost + (item.count*item.cost) %}
		
	<tr>
                            <td class="center-align">{{item.bag_name}}</td>
                            <td class="center-align">{{item.cost}}</td>
                            <td class="center-align">{{item.count}}</td>
                            <td class="center-align">
                               
                        </tr>
                    
                          {% endfor %}
						  <tr><td colspan="4" class="right-align"> Total cost of items = {{totalcost}}</td></tr>
						  
						  <tr>
						    <td button class="class= social-icons pull-center check_out"><a href=checkout.php> [CHECKOUT FROM CART] </i></a></td>
                            <td button class="class= social-icons pull-center check_out"><a href="?rsc" title="Empty Shopping Cart" class="waves-effect"><i class="material-icons"> [EMPTY THIS CART] </i></a></td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>

<br>





<div class="container">
    <ul class="pagination">
        
    </ul>
</div>
{% endblock %}
					<div>
							<button onclick = "javascript:window.print();">PRINT CART INFO In PDF Format</button>
							
					</div>
					<div class="container">
				<div class="row">
					<li><b><a href="http://localhost/ecomfinal/admin/termsofservice.html">Terms of Service</a></b></li>
					<li><b><a href="http://localhost/ecomfinal/admin/disclaimerpage.html">Disclaimer</a></b></li>
				<p class="pull-center">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
				
				</div>
				
			</div>
				
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>