<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{aName}}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
					
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						{% block BODY %}
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.php" class="active">{{aName}}</a></li>
								<li class="dropdown"><a href="#">ADMIN<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="bagLogins.php">Login As Admin</a></li>
                                    </ul>
                                </li> 
								<li><a href="viewBag.php">ALL BAGS</a></li>
								<li class="dropdown"><a href="#">BROWSE BY CAT<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="browseBagByCat.php?BAG_NAME=2&search=Search">College</a></li>
										   <li><a href="browseBagByCat.php?BAG_NAME=3&search=Search">High School</a></li>
										      <li><a href="browseBagByCat.php?BAG_NAME=4&search=Search">Toddlers</a></li>
											     <li><a href="browseBagByCat.php?BAG_NAME=5&search=Search">Public Freaky</a></li>
												    <li><a href="browseBagByCat.php?BAG_NAME=6&search=Search">Executive</a></li>
                                    </ul>
                                </li> 
								<li><a href="cart.php">VIEW CART</a></li>
								<li><a href="searchBag.php">SEARCH BAGS</a></li>
							
								
							</ul>
						</div>
					
				</div>
				{% endblock %}
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1>BEST BAGS BUY</h1>
									<h2>The Best Bags You Can Ever Hold</h2>
									<p>Look no further, this is the place to get your BAGS at a cheap price!! </p>
									
								</div>
								<div class="col-sm-6">
									<img src="images/home/girl1.jpg" class="girl img-responsive" alt="" />
								
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>BEST BAGS BUY</h1>
									<h2>The Best Bags You Can Ever Hold</h2>
									<p>Look no further, this is the place to get your BAGS at a cheap price!! </p>
						
								</div>
								<div class="col-sm-6">
									<img src="images/home/girl2.jpg" class="gir1 img-responsive" alt="" />
								
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>BEST BAGS BUY</h1>
									<h2>The Best Bags You Can Ever Hold</h2>
									<p>Look no further, this is the place to get your BAGS at a cheap price!! </p>
									
								</div>
								<div class="col-sm-6">
									<img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
									
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categories Available</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											
											College
										</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											
											High School
										</a>
									</h4>
								</div>
								
							</div>
							
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Toddlers</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Executive</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Public Freaky</a></h4>
								</div>
							</div>
							
						</div><!--/category-products-->
						
							</div>
						</div>
						
						
						
<div class="container">
    
            {% for bag in bags %}
            
               
			   <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{bag.pictures}}" alt="" />
										<h2>Ghc {{bag.cost}}</h2>
										<b><p>{{bag.bag_name}}</p></b>
										<a href="addtocart.php?page={{pageno}}&bag_id={{bag.bag_id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									
								</div>
								
							</div>
						</div>
            
            {% endfor %}
</div>
<div class="container center-align">
    <ul class="pagination">
        {% if pageno == '1' %}
        <li style ="display: inline" class="disabled"><a href="#">[FirstPage]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page=1">[FirstPage]</a></li>
        {% endif %}

        {% if pageno == '1' %}
        <li style ="display: inline" class="disabled"><a href="#">[Left]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page={{ pageno-1 }}">[Left]</a></li>
        {% endif %}

		{% if (lastpage -1) < 10 %}
		{% set gap = lastpage -1 %}
		{% else %}
		{% set gap = 9 %}
		{% endif %}
		
		{% if pageno <= 10 %}
		{% set fp = 1 %}
		{% set lp = fp + gap %}
		{% elseif pageno + gap >= lastpage %}
		{% set lp = lastpage %}
		{% set fp = lp - gap %}
		{% else %}
		{% set fp = (pageno - (gap / 2)) | round %}
		{% set lp = (pageno + (gap / 2)) | round %}
		{% endif %}
		
		{% for i in fp..lp%}
		<li style ="display: inline" title="Page {{i}}" class ="waves-effect {%if i == pageno%} active {% endif %}"><a href = "?page={{i}}">{{i}}</a></li>
		{% endfor %}
		
        {% if pageno == lastpage %}
        <li style ="display: inline" class="disabled"><a href="#">[Right]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page={{ pageno+1 }}">[Right]</a></li>
        {% endif %}

        {% if pageno == lastpage %}
        <li style ="display: inline" class="disabled"><a href="#">[LastPage]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page={{ lastpage }}">[LastPage]</a></li>
        {% endif %}
    </ul>
</div>
						
					
										
	
		<div class="footer-bottom">
	
			<div class="container">
				<div class="row">
					<li><b><a href="termsofservice.html">Terms of Service</a></b></li>
					<li><b><a href="disclaimerpage.html">Disclaimer</a><b></li>
				<p class="pull-center">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
				
				</div>
					
			</div>
			{% block FOOTER %}
		</div>
		
	</footer><!--/Footer-->
	
	
  
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
 {% endblock %}
	</body>
	{% block EXTRA %}
        {% endblock %}
</html>