{% extends "index.html" %}

{% block BODY %}
<br>
<div >
    <table border = '6' class="responsive-table bordered striped highlight centered">
        <thead>
            <tr>
                <th data-field="bag_id"> BAG NAME </th>
                <th data-field="bag_name"> COST </th></br>
                <th data-field="bag_cat"> QUANTITY </th>
                <th data-field="year"> ACTION </th>
            </tr>
        </thead>
		{% set totalcost = 0 %}
		{% for item in cart %}
		{% set totalcost = totalcost + (item.count*item.cost) %}
		
	<tr>
                            <td class="center-align">{{item.bag_name}}</td>
                            <td class="center-align">{{item.cost}}</td>
                            <td class="center-align">{{item.count}}</td>
                            <td class="center-align">
                                <a title="Increase Quantity" class="waves-effect" href="?page={{pageno}}&bag_id={{item.bag_id}}"><i class="material-icons"> Quantity[+] </i></a>
                                <a title="Decrease Quantity" class="waves-effect" href="?page={{pageno}}&bag_id={{item.bag_id}}&rmv"><i class="material-icons"> Quantity[-] </i></a>
                            </td>
                        </tr>
                    
                          {% endfor %}
						  <tr><td colspan="4" class="right-align"> Total cost of items = {{totalcost}}</td></tr>
						  
						  <tr>
						    <td colspan="4" class="right-align"><a href=checkout.php> [CHECKOUT FROM CART] </i></a></td>
                            <td colspan="4" class="right-align"><a href="?rsc" title="Empty Shopping Cart" class="waves-effect"><i class="material-icons"> [EMPTY THIS CART] </i></a></td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <table border = '6' class="responsive-table bordered striped highlight centered">
        <thead>
            <tr>
                <th data-field="bag_id">BAG ID</th>
                <th data-field="bag_name">BAG NAME</th>
                <th data-field="bag_cat">BAG CATEGORY</th>
                <th data-field="year">YEAR</th>
                <th data-field="cost">COST</th>
                <th data-field="bag_brand_name"> BAG BRAND</th>
                <!--<th data-field="action">ACTION</th>-->
            </tr>
        </thead>
        <tbody>
            {% for bag in bags %}
            <tr>
                <td>{{bag.bag_id}}</td>
                <td><a  href="?page={{pageno}}&bag_id={{bag.bag_id}}">{{bag.bag_name}}</a></td>
                <td>{{bag.bag_cat}}</td>
                <td>{{bag.year}}</td>
                <td>{{bag.cost}}</td>
                <td>{{bag.bag_brand_name}}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container center-align">
    <ul class="pagination">
        {% if pageno == '1' %}
        <li style ="display: inline" class="disabled"><a href="#">[FirstPage]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page=1">[FirstPage]</a></li>
        {% endif %}

        {% if pageno == '1' %}
        <li style ="display: inline" class="disabled"><a href="#">[Left]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page={{ pageno-1 }}">[Left]</a></li>
        {% endif %}

		{% if (lastpage -1) < 10 %}
		{% set gap = lastpage -1 %}
		{% else %}
		{% set gap = 9 %}
		{% endif %}
		
		{% if pageno <= 10 %}
		{% set fp = 1 %}
		{% set lp = fp + gap %}
		{% elseif pageno + gap >= lastpage %}
		{% set lp = lastpage %}
		{% set fp = lp - gap %}
		{% else %}
		{% set fp = (pageno - (gap / 2)) | round %}
		{% set lp = (pageno + (gap / 2)) | round %}
		{% endif %}
		
		{% for i in fp..lp%}
		<li style ="display: inline" title="Page {{i}}" class ="waves-effect {%if i == pageno%} active {% endif %}"><a href = "?page={{i}}">{{i}}</a></li>
		{% endfor %}
		
        {% if pageno == lastpage %}
        <li style ="display: inline" class="disabled"><a href="#">[Right]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page={{ pageno+1 }}">[Right]</a></li>
        {% endif %}

        {% if pageno == lastpage %}
        <li style ="display: inline" class="disabled"><a href="#">[LastPage]</a></li>
        {% else %}
        <li style ="display: inline" class="waves-effect"><a href="?page={{ lastpage }}">[LastPage]</a></li>
        {% endif %}
    </ul>
</div>

<div class="container">
    <ul class="pagination">
        
    </ul>
</div>
{% endblock %}